<div class="container__big-card">

  <div class="big-card__photo">
    <img
    src="https://s1.mmommorpg.com/media/wide/One-Piece-2-Pirate-King.jpg"

    alt="foto"

    >

  </div>

  <div class="big-card__title">
    <h1>
    <a href="#">Novo Episódio Lançado</a>
    </h1>

  </div>

  <div class="big-card__description"><a href="">
    <p>One Piece 2 é um MMO de aventura para navegadores. O jogo permite a criação de uma tripulação de piratas perigosos para sair em expedições arriscadas com o personagem Luffy. O objetivo final? Tornar-se o Rei Pirata.

    </p>
  </a>

  </div>

</div>
